API_IMAGE=ghcr.io/yourusername/spender/spender-api:latest
FRONTEND_IMAGE=ghcr.io/yourusername/spender/spender-frontend:latest
SENSOR_IMAGE=ghcr.io/yourusername/spender/spender-sensor:latest
DB_PASSWORD=changeme
API_DOMAIN=api.s
APP_DOMAIN=app.s
GOOGLE_CLIENT_ID=changeme.apps.googleusercontent.com
GOOGLE_ALLOWED_EMAILS=you@example.com,partner@example.com